$defaultFont: 'Avenir', Helvetica, "Microsoft YaHei", Ubuntu, Arial, sans-serif;
$codeFont: Monaco, Menlo, Consolas, "Ubuntu Mono", Monospace;
$fontSize: 14px;

$logoColor: #222c33;
$projectListBg: #344148;
$projectListColor: #efefef;
$projectListHoverColor: #b3c8d4;
$projectListActiveBg: #2e3940;
$projectListActiveColor: #88b0c5;

$tipsFontSize: 24px;
$tipsColor: #44525a;
$tipsShortcutColor: #556771;

$editorBg: #263238;
$scrollbarColor: #4e616b;
